@import 'https://fonts.googleapis.com/css?family=Handlee';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display|Raleway';
/*UNIVERSAL*/
html, body {
    background-color: #a7d4ee;
}

.navlink{
    color: white !important;
}

.navlink:hover {
    color:  white !important;
    background: #555 !important;
    font-size: 18px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.navbar-default {
    background: black;
    border: none;
    color: white;
    display: block;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/*LANDING PAGE*/


.a {
    background-image: url('../img/city.jpg');
    height: 100vh;
    background-size: cover;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a a {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    font-family: 'Crimson Text', sans-serif;
    text-shadow: 5px 10px 30px rgba(0, 0, 0, 0.6);
}

.a a:hover {
    color:  #ff6600;
    font-size: 2.5em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.a img {
    width: 300px;
    border-radius: 50%;
    box-shadow:  5px 10px 30px rgba(0, 0, 0, 0.6);
    padding: 0;
}

.a h1 {
    font-family: 'Oswald', cursive;
    font-size: 60px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    color: white;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 90%;
    padding: 20px 200px;
}


/*PORTFOLIO PAGE*/
.myP {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

.about p {
    text-align: center;
    color: white;
    margin: 30px 0;
    font-size: 24px;
    font-family: 'Playfair Display', sans-serif;
}

.item {
    height:  700px;
    background-size: cover;
    background-position: center;
}

.pet-store {
    background-image: url('../img/screenshot(1.2).png');
}

.college {
    background-image: url('../img/screenshot(2.2).png');
}

.restaurant {
background-image: url('../img/screenshot(10.2).png');
}

.carH {
     font-size: 60px;
     text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.carA {
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 5px;
}

.carA:hover {
    color: #ff6600;
    text-decoration: none;
    background-color: rgba(56, 56, 56, 0.5);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6), 0 0 8px rgba(0, 0, 0, 0.4);
}

/*CONTACT PAGE*/
.contact {
    height: 100vh;
    background-size: cover;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'Handlee', cursive;
    overflow: visible;
}

.text-input {
    color: white;
    font-family: 'Handlee', cursive;
}

.text-input:focus {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    background: #a7d4ee;
    max-width: 100%;
    outline: none;
    font-family: 'Handlee', cursive;
}

.text-input:active {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    background: #a7d4ee;
    max-width: 100%;
    color: white;
}

.filler {
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    width: 95%;
    background: honeydew;
    margin-bottom: 40px;
    margin-top: 50px;
    position: absolute;
    bottom: 10%
}

#submit {
    color: black;
    background: honeydew;
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 40px;
    font-size: 24px;
    border-radius: 30px;
}

.contact-text {
    font-family: 'Handlee', cursive;
    font-size: 42px;
    text-align: center;
    margin-top: 200px;
    color: white;
}

i {
    width: 70px;
    margin: 20px;
}

.contact-form {
    color: white;
}

.text-input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    background: #a7d4ee;
    font-size: 50px;
    color: white;
    margin-top: 70px;
}

.center-content {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 90%;
    padding: 0 200px;
}

/*FOOTER*/
